\documentclass[letterpaper,twocolumn,openany]{dndbook}

\usepackage[english]{babel}
\usepackage[utf8]{inputenc}
\usepackage{multicol}

\title{ {{ character.name }} }
\author{ {{ character.player_name or "Player" }} }
\date{}

\begin{document}

\chapter*{ {{ character.name }} }
\addcontentsline{toc}{chapter}{ {{ character.name }} }

\section*{Character Details}

\begin{DndTable}[header=Basic Information]{lX}
    \textbf{Class} & {{ character.character_class }} \\
    \textbf{Level} & {{ character.level }} \\
    \textbf{Race} & {{ character.race }} \\
{% if character.background %}    \textbf{Background} & {{ character.background }} \\
{% endif %}{% if character.alignment %}    \textbf{Alignment} & {{ character.alignment }} \\
{% endif %}{% if character.experience_points > 0 %}    \textbf{Experience} & {{ "{:,}".format(character.experience_points) }} XP \\
{% endif %}\end{DndTable}

\section*{Ability Scores}

\begin{DndTable}[header=Ability Scores]{lcccc}
    \textbf{Ability} & \textbf{Score} & \textbf{Modifier} & \textbf{Save} & \textbf{Prof?} \\
    Strength     & {{ character.ability_scores.strength }} & {{ "%+d"|format(character.ability_scores.strength_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.STRENGTH)) }} & {% if Ability.STRENGTH in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Dexterity    & {{ character.ability_scores.dexterity }} & {{ "%+d"|format(character.ability_scores.dexterity_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.DEXTERITY)) }} & {% if Ability.DEXTERITY in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Constitution & {{ character.ability_scores.constitution }} & {{ "%+d"|format(character.ability_scores.constitution_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.CONSTITUTION)) }} & {% if Ability.CONSTITUTION in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Intelligence & {{ character.ability_scores.intelligence }} & {{ "%+d"|format(character.ability_scores.intelligence_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.INTELLIGENCE)) }} & {% if Ability.INTELLIGENCE in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Wisdom       & {{ character.ability_scores.wisdom }} & {{ "%+d"|format(character.ability_scores.wisdom_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.WISDOM)) }} & {% if Ability.WISDOM in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Charisma     & {{ character.ability_scores.charisma }} & {{ "%+d"|format(character.ability_scores.charisma_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.CHARISMA)) }} & {% if Ability.CHARISMA in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
\end{DndTable}

\begin{DndComment}{Proficiency Bonus}
    At level {{ character.level }}, the proficiency bonus is \textbf{ {{ "%+d"|format(character.proficiency_bonus) }} }.
\end{DndComment}

\section*{Combat Stats}

\begin{DndTable}[header=Combat]{lX}
    \textbf{Armor Class} & {{ character.armor_class }} \\
    \textbf{Initiative} & {{ "%+d"|format(character.initiative) }} \\
    \textbf{Speed} & {{ character.speed }} ft. \\
    \textbf{Hit Points} & {{ character.current_hit_points }}/{{ character.max_hit_points }}{% if character.temporary_hit_points > 0 %} (+{{ character.temporary_hit_points }} temp){% endif %} \\
    \textbf{Hit Dice} & {{ character.hit_dice }} \\
{% if character.inspiration %}    \textbf{Inspiration} & Yes \\
{% endif %}\end{DndTable}

\section*{Skills}

\begin{multicols}{2}
\begin{DndTable}[header=All Skills]{lcc}
    \textbf{Skill} & \textbf{Bonus} & \textbf{Prof?} \\
{% for skill in ALL_SKILLS %}    {{ skill.value.replace("_", " ").title() }} & {{ "%+d"|format(character.get_skill_modifier(skill)) }} & {% if skill in character.skill_proficiencies %}*{% endif %} \\
{% endfor %}\end{DndTable}
\end{multicols}

{% if character.spellcasting_ability %}
\newpage
\section*{Spellcasting}

\begin{DndTable}[header=Spellcasting]{lX}
    \textbf{Spellcasting Class} & {{ character.character_class }} \\
    \textbf{Spellcasting Ability} & {{ character.spellcasting_ability.value.title() }} \\
    \textbf{Spell Save DC} & {{ character.spell_save_dc }} \\
    \textbf{Spell Attack Bonus} & {{ "%+d"|format(character.spell_attack_bonus) }} \\
\end{DndTable}

{% set prepared_spells = character.spellbook.get_prepared_spells_by_level() %}

{% if prepared_spells[0] %}
\subsection*{Cantrips}
\begin{itemize}
{% for spell in prepared_spells[0] | sort(attribute='name') %}
    \item {{ spell.name }}
{% endfor %}
\end{itemize}
{% endif %}

{% for level in range(1, 10) %}
{% if prepared_spells[level] %}
\subsection*{Level {{ level }} Spells}
\begin{itemize}
{% for spell in prepared_spells[level] | sort(attribute='name') %}
    \item {{ spell.name }}{% if spell.ritual %} (Ritual){% endif %}{% if spell.concentration %} (C){% endif %}
{% endfor %}
\end{itemize}
{% endif %}
{% endfor %}
{% endif %}

{% if character.spellbook.get_prepared_spells() %}
\newpage
\chapter*{Spellbook}
\addcontentsline{toc}{chapter}{Spellbook}

{% for spell in character.spellbook.get_prepared_spells() %}
\begin{DndSpell}
    \spelllevel{
        {% if spell.level == 0 %}
            {{ spell.school.value }} Cantrip
        {% else %}
            {{ spell.level }}{{ 'st' if spell.level == 1 else ('nd' if spell.level == 2 else ('rd' if spell.level == 3 else 'th')) }}-level {{ spell.school.value }}
        {% endif %}
        {% if spell.ritual %}(ritual){% endif %}
    }
    \spellcastingtime{ {{ spell.casting_time }} }
    \spellrange{ {{ spell.range }} }
    \spellcomponents{ {{ spell.components_str }} }
    \spellduration{ {{ spell.duration }}{% if spell.concentration %}, concentration{% endif %} }
    
    \spelltitle{ {{ spell.name }} }
    
    {{ spell.description }}
    
    {% if spell.higher_levels %}
    \spellhigherlevel{ {{ spell.higher_levels }} }
    {% endif %}
\end{DndSpell}
{% endfor %}
{% endif %}

\end{document}
