\documentclass[letterpaper,twocolumn,openany]{dndbook}

\usepackage[english]{babel}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}
\usepackage{longtable}
\usepackage{multicol}
\usepackage{enumitem}

\title{ {{ character.name }} }
\author{ {{ character.player_name or "Player" }} }
\date{\today}

\begin{document}
\maketitle
\thispagestyle{empty}

% --- Page 1: Core Info ---
\section*{Character Details}
\begin{DndTable}[header=Basic Information]{lX}
    \textbf{Name} & {{ character.name }} \\
    \textbf{Player} & {{ character.player_name or "" }} \\
    \textbf{Race} & {{ character.race }} \\
    \textbf{Class} & {{ character.character_class }} \\
    \textbf{Level} & {{ character.level }} \\
    \textbf{Background} & {{ character.background or "" }} \\
    \textbf{Alignment} & {{ character.alignment or "" }} \\
\end{DndTable}

\subsection*{Ability Scores}
\begin{DndTable}[header=Ability Scores]{lcccc}
    \textbf{Ability} & \textbf{Score} & \textbf{Mod} & \textbf{Save} & \textbf{Prof?} \\
    Strength     & {{ character.ability_scores.strength }} & {{ "%+d"|format(character.ability_scores.strength_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.STRENGTH)) }} & {% if Ability.STRENGTH in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Dexterity    & {{ character.ability_scores.dexterity }} & {{ "%+d"|format(character.ability_scores.dexterity_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.DEXTERITY)) }} & {% if Ability.DEXTERITY in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Constitution & {{ character.ability_scores.constitution }} & {{ "%+d"|format(character.ability_scores.constitution_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.CONSTITUTION)) }} & {% if Ability.CONSTITUTION in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Intelligence & {{ character.ability_scores.intelligence }} & {{ "%+d"|format(character.ability_scores.intelligence_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.INTELLIGENCE)) }} & {% if Ability.INTELLIGENCE in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Wisdom       & {{ character.ability_scores.wisdom }} & {{ "%+d"|format(character.ability_scores.wisdom_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.WISDOM)) }} & {% if Ability.WISDOM in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
    Charisma     & {{ character.ability_scores.charisma }} & {{ "%+d"|format(character.ability_scores.charisma_modifier) }} & {{ "%+d"|format(character.get_saving_throw(Ability.CHARISMA)) }} & {% if Ability.CHARISMA in character.saving_throw_proficiencies %}Yes{% else %}No{% endif %} \\
\end{DndTable}
\begin{DndComment}{Proficiency Bonus}
    Proficiency Bonus: \textbf{ {{ "%+d"|format(character.proficiency_bonus) }} }
\end{DndComment}

\subsection*{Combat Stats}
\begin{DndTable}[header=Combat]{lX}
    \textbf{Armor Class} & {{ character.armor_class }} \\
    \textbf{Initiative} & {{ "%+d"|format(character.initiative) }} \\
    \textbf{Speed} & {{ character.speed }} ft. \\
    \textbf{Hit Points} & {{ character.current_hit_points }}/{{ character.max_hit_points }}{% if character.temporary_hit_points > 0 %} (+{{ character.temporary_hit_points }} temp){% endif %} \\
    \textbf{Hit Dice} & {{ character.hit_dice }} \\
{% if character.inspiration %}    \textbf{Inspiration} & Yes \\
{% endif %}\end{DndTable}

\subsection*{Skills}
\begin{multicols}{2}
\begin{DndTable}[header=Skills]{lcc}
    \textbf{Skill} & \textbf{Bonus} & \textbf{Prof?} \\
{% for skill in ALL_SKILLS %}    {{ skill.value.replace("_", " ").title() }} & {{ "%+d"|format(character.get_skill_modifier(skill)) }} & {% if skill in character.skill_proficiencies %}*{% endif %} \\
{% endfor %}\end{DndTable}
\end{multicols}

% --- Page 2: Spellcasting & Features ---
\newpage
{% if character.spellcasting_ability %}
\section*{Spellcasting}
\begin{DndTable}[header=Spellcasting]{lX}
    \textbf{Spellcasting Ability} & {{ character.spellcasting_ability.value.title() }} \\
    \textbf{Spell Save DC} & {{ character.spell_save_dc }} \\
    \textbf{Spell Attack Bonus} & {{ "%+d"|format(character.spell_attack_bonus) }} \\
\end{DndTable}

\subsection*{Spell Slots}
\begin{DndTable}[header=Spell Slots]{lccX}
    \textbf{Level} & \textbf{Total} & \textbf{Used} & \textbf{Remaining} \\
    Cantrips & Always Prepared & - & - \\
{% for level, slots in character.spellbook.spell_slots.items() | sort %}
    {{ level }}{{ 'st' if level == 1 else ('nd' if level == 2 else ('rd' if level == 3 else 'th')) }} & {{ slots.max }} & {{ slots.used }} & {{ slots.remaining }} \\
{% endfor %}
\end{DndTable}

\subsection*{Prepared Spells}
\begin{multicols}{2}
\begin{itemize}[noitemsep,topsep=0pt,parsep=0pt,partopsep=0pt]
{% for spell in character.spellbook.get_prepared_spells() %}
    \item {{ spell.name }}
{% else %}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
{% endfor %}
\end{itemize}
\end{multicols}
{% endif %}

\section*{Features \& Traits}
\begin{itemize}[noitemsep,topsep=0pt,parsep=0pt,partopsep=0pt]
    \item \underline{\hspace{8cm}}
    \item \underline{\hspace{8cm}}
    \item \underline{\hspace{8cm}}
    \item \underline{\hspace{8cm}}
    \item \underline{\hspace{8cm}}
\end{itemize}
\vfill

% --- Page 3: Ledgers ---
\newpage
\onecolumn % Ensure ledgers are full width
\section*{Coin Ledger}
\begin{longtable}{|p{2cm}|p{3.5cm}|p{1.5cm}|p{1.5cm}|p{1.5cm}|}
    \hline
    \textbf{Date} & \textbf{Description} & \textbf{Debit} & \textbf{Credit} & \textbf{Balance} \\
    \hline
    \endhead
    \hline
    \endfoot
    {% for i in range(20) %}
    \rule{0pt}{0.7cm} & & & & \\ \hline
    {% endfor %}
\end{longtable}

\newpage
\section*{Equipment Ledger}
\begin{longtable}{|p{2cm}|p{4cm}|p{1.5cm}|X|}
    \hline
    \textbf{Date} & \textbf{Item} & \textbf{Qty} & \textbf{Notes} \\
    \hline
    \endhead
    \hline
    \endfoot
    {% for i in range(20) %}
    \rule{0pt}{0.7cm} & & & \\ \hline
    {% endfor %}
\end{longtable}

\newpage
\section*{Ailments Ledger}
\begin{longtable}{|p{2cm}|p{4cm}|X|}
    \hline
    \textbf{Date} & \textbf{Ailment} & \textbf{Status/Notes} \\
    \hline
    \endhead
    \hline
    \endfoot
    {% for i in range(20) %}
    \rule{0pt}{0.7cm} & & & \\ \hline
    {% endfor %}
\end{longtable}

\newpage
\section*{Spells Acquired Ledger}
\begin{longtable}{|p{2cm}|p{3.5cm}|p{1.5cm}|X|}
    \hline
    \textbf{Date} & \textbf{Spell Name} & \textbf{Level} & \textbf{Source/Notes} \\
    \hline
    \endhead
    \hline
    \endfoot
    {% for i in range(20) %}
    \rule{0pt}{0.7cm} & & & \\ \hline
    {% endfor %}
\end{longtable}

\newpage
\section*{Spells Cast Ledger}
\begin{longtable}{|p{2cm}|p{3.5cm}|p{1.5cm}|X|}
    \hline
    \textbf{Date} & \textbf{Spell Name} & \textbf{Level} & \textbf{Encounter/Notes} \\
    \hline
    \endhead
    \hline
    \endfoot
    {% for i in range(20) %}
    \rule{0pt}{0.7cm} & & & \\ \hline
    {% endfor %}
\end{longtable}

\newpage
\section*{Character Notes}
\textit{Use this space for character background, personality traits, allies, enemies, and other roleplaying notes.}
\vfill
\end{document}
