\documentclass[letterpaper,twocolumn,openany]{dndbook}

\usepackage[english]{babel}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}
\usepackage{longtable}
\usepackage{multicol}
\usepackage{enumitem}

\title{Empty Character Sheet}
\author{D\&D Sheet Generator}
\date{\today}

\begin{document}
\maketitle
\thispagestyle{empty}

% --- Page 1: Core Info ---
\section*{Character Details}
\begin{DndTable}[header=Basic Information]{lX}
    \textbf{Name} & \underline{\hspace{8cm}} \\
    \textbf{Player} & \underline{\hspace{8cm}} \\
    \textbf{Race} & \underline{\hspace{8cm}} \\
    \textbf{Class} & \underline{\hspace{8cm}} \\
    \textbf{Level} & \underline{\hspace{8cm}} \\
    \textbf{Background} & \underline{\hspace{8cm}} \\
    \textbf{Alignment} & \underline{\hspace{8cm}} \\
\end{DndTable}

\subsection*{Ability Scores}
\begin{DndTable}[header=Ability Scores]{lcccc}
    \textbf{Ability} & \textbf{Score} & \textbf{Mod} & \textbf{Save} & \textbf{Prof?} \\
    Strength     & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Dexterity    & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Constitution & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Intelligence & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Wisdom       & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Charisma     & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
\end{DndTable}
\begin{DndComment}{Proficiency Bonus}
    Proficiency Bonus: \underline{\hspace{3cm}}
\end{DndComment}

\subsection*{Combat Stats}
\begin{DndTable}[header=Combat]{lX}
    \textbf{Armor Class} & \underline{\hspace{8cm}} \\
    \textbf{Initiative} & \underline{\hspace{8cm}} \\
    \textbf{Speed} & \underline{\hspace{8cm}} \\
    \textbf{Hit Points} & \underline{\hspace{8cm}} \\
    \textbf{Hit Dice} & \underline{\hspace{8cm}} \\
\end{DndTable}

\subsection*{Skills}
\begin{multicols}{2}
\begin{DndTable}[header=Skills]{lcc}
    \textbf{Skill} & \textbf{Bonus} & \textbf{Prof?} \\
    Acrobatics    & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Animal Handling & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Arcana        & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Athletics     & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Deception     & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    History       & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Insight       & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Intimidation  & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Investigation & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Medicine      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Nature        & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Perception    & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Performance   & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Persuasion    & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Religion      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Sleight of Hand & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Stealth       & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    Survival      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
\end{DndTable}
\end{multicols}

% --- Page 2: Spellcasting & Features ---
\newpage
\section*{Spellcasting}
\begin{DndTable}[header=Spellcasting]{lX}
    \textbf{Spellcasting Ability} & \underline{\hspace{6cm}} \\
    \textbf{Spell Save DC} & \underline{\hspace{6cm}} \\
    \textbf{Spell Attack Bonus} & \underline{\hspace{6cm}} \\
\end{DndTable}

\subsection*{Spell Slots}
\begin{DndTable}[header=Spell Slots]{lccX}
    \textbf{Level} & \textbf{Total} & \textbf{Used} & \textbf{Remaining} \\
    Cantrips & Always Prepared & - & - \\
    1st      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    2nd      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    3rd      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    4th      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    5th      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    6th      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    7th      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    8th      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
    9th      & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} & \underline{\hspace{1cm}} \\
\end{DndTable}

\subsection*{Prepared Spells}
\begin{multicols}{2}
\begin{itemize}[noitemsep,topsep=0pt,parsep=0pt,partopsep=0pt]
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
    \item \underline{\hspace{4cm}}
\end{itemize}
\end{multicols}

\section*{Features \& Traits}
\begin{itemize}[noitemsep,topsep=0pt,parsep=0pt,partopsep=0pt]
    \item \underline{\hspace{8cm}}
    \item \underline{\hspace{8cm}}
    \item \underline{\hspace{8cm}}
    \item \underline{\hspace{8cm}}
    \item \underline{\hspace{8cm}}
\end{itemize}
\vfill

% --- Page 3: Ledgers ---
\newpage
\onecolumn % Ensure ledgers are full width
\section*{Coin Ledger}
\begin{longtable}{|p{2cm}|p{3.5cm}|p{1.5cm}|p{1.5cm}|p{1.5cm}|}
    \hline
    \textbf{Date} & \textbf{Description} & \textbf{Debit} & \textbf{Credit} & \textbf{Balance} \\
    \hline
    \endhead
    \hline
    \endfoot
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
    \rule{0pt}{0.7cm} & & & & \\ \hline
\end{longtable}

\newpage
\section*{Equipment Ledger}
\begin{longtable}{|p{2cm}|p{4cm}|p{1.5cm}|X|}
    \hline
    \textbf{Date} & \textbf{Item} & \textbf{Qty} & \textbf{Notes} \\
    \hline
    \endhead
    \hline
    \endfoot
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
\end{longtable}

\newpage
\section*{Ailments Ledger}
\begin{longtable}{|p{2cm}|p{4cm}|X|}
    \hline
    \textbf{Date} & \textbf{Ailment} & \textbf{Status/Notes} \\
    \hline
    \endhead
    \hline
    \endfoot
    \rule{0pt}{0.7cm} & & \\ \hline
    \rule{0pt}{0.7cm} & & \\ \hline
    \rule{0pt}{0.7cm} & & \\ \hline
    \rule{0pt}{0.7cm} & & \\ \hline
    \rule{0pt}{0.7cm} & & \\ \hline
    \rule{0pt}{0.7cm} & & \\ \hline
    \rule{0pt}{0.7cm} & & \\ \hline
    \rule{0pt}{0.7cm} & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
\end{longtable}

\newpage
\section*{Spells Acquired Ledger}
\begin{longtable}{|p{2cm}|p{3.5cm}|p{1.5cm}|X|}
    \hline
    \textbf{Date} & \textbf{Spell Name} & \textbf{Level} & \textbf{Source/Notes} \\
    \hline
    \endhead
    \hline
    \endfoot
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
\end{longtable}

\newpage
\section*{Spells Cast Ledger}
\begin{longtable}{|p{2cm}|p{3.5cm}|p{1.5cm}|X|}
    \hline
    \textbf{Date} & \textbf{Spell Name} & \textbf{Level} & \textbf{Encounter/Notes} \\
    \hline
    \endhead
    \hline
    \endfoot
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
    \rule{0pt}{0.7cm} & & & \\ \hline
\end{longtable}

\newpage
\section*{Character Notes}
\textit{Use this space for character background, personality traits, allies, enemies, and other roleplaying notes.}
\vfill
\end{document}
